* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.area {
  border-width: 1px;
  border-style: solid;
  position: relative;
  z-index: 2;
  background-color: transparent;
  margin: 5px;
}

div.rect {
  border-width: 1px;
  border-style: dashed;
  border-color: red;
  position: absolute;
}
div.rect:hover {
  cursor: grab;
}
div.rect:active {
  cursor: grabbing;
}

div.info {
  position: absolute;
  width: 50px;
  height: 12px;
  text-align: center;
  background-color: brown;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  z-index: 1;
  margin-top: -13px;
  user-select: none;
  
}
